{
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "singleQuote": false,
    "useTabs": true,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "strict",
    "semi": true
}
