.button
    min-width: max-content
    width: 100%
    border: none
    border-radius: .3rem

    display: flex
    flex-direction: row
    padding: .8em

    color: #ffffff
    font-weight: 400
    background-color: darken(tomato, 10%)
    outline: 3px solid #00000000
    transition: .2s ease

    &:hover
        background-color: tomato
        box-shadow: 0 6px 8px #20202030
    &:active
        outline: 3px solid orangered

    svg 
        filter: invert(100%)