* 
    padding: 0
    margin: 0
    box-sizing: border-box

:root 
    --font-mono: "DM Mono"
    --font-body: "Poppins"
    --shadow: #222025c2

html,
body 
    scroll-behavior: smooth
    font-family: var(--font-body)
