* 
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: var(--font-body)

:root 
    --font-mono: "DM Mono"
    --font-body: "Poppins"
    --shadow: #222025c2
    --green: #3bec23
    --yellow: #d8e616
    --red: #ff2323
    --blue: #1c62e4

html,
body 
    scroll-behavior: smooth

button
    cursor: pointer

.cascade
    font-family: var(--font-mono)
    font-style: italic
    color: #505050

.comment
    &::before
        content: '// '

.popup
    position: fixed
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    z-index: 10
    background-color: #f5f5f5
